.main {
    background-size: 1920px auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

/*=== BEGIN SIDEBAR ===*/
.main-sidebar {
    width: var(--sidebar-width);
    background-color: var(--sidebar-bg);
    position: fixed;
    top: 0;
    bottom: calc(var(--music-control-height) + 54px) ;
    left: 0;
}

.sidebar__logo {
    width: 240px;
    height: 70px;
    background-image: url(../img/sidebar-icon/logo/logo-dark.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 28px;
    background-position-y: 50%;
}

.sidebar__persional {
    margin-bottom: 15px;
    position: relative;
}

.sidebar__persional::after {
    content: '';
    width: var(--sidebar-width);
    height: 20px;
    /* background-image: linear-gradient(180deg, #411465, transparent); */
    position: absolute;
    bottom: -37px;
    left: 0;
    right: 0;
}

.sidebar__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.sidebar__item {
    color: var(--white-color);
    opacity: 0.8;
    height: 38px;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: var(--side-padding) ;
    cursor: pointer;
}

.sidebar__item:hover {
    opacity: 1;
}

.sidebar__item.sidebar__item--active {
    background-color: var(--active-color);
    border-left: 3px solid #ED2B91;
    padding-left: calc(var(--side-padding) - 3px);
}

.sidebar__item i {
    font-size: 2rem;
    padding-right: 10px;
}

.sidebar__item-radio span {
    background-color: red;
    padding: 0 3px;
    margin-left: 6px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.sidebar__line {
    margin: 0 var(--side-padding);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar__library {
    height: calc(100vh - 421px);
    overflow-y: auto;
    position: relative;
}

.sidebar__library-top-list {
    margin-top: 12px;
}

.sidebar__library-center {
    height: 110px;
    background-image: linear-gradient(117deg,#5a4be7,#c86dd7);
    margin: 12px calc(var(--side-padding) - 8px) 0 calc(var(--side-padding) - 8px);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar__library-center-vip-heading {
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;
    padding: 12px 0 6px 0;
}

.sidebar__library-center-vip-body {
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #ffdb00;
    padding: 6px 0;
    margin: 0 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar__library-center-vip-body:hover {
    opacity: 0.8;
}

.sidebar__library-bot-heading {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 30px var(--side-padding) 10px var(--side-padding);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sidebar__library-bot-heading:hover .sidebar__library-bot-heading-option {
    display: block;
}

.sidebar__library-bot-heading-option {
    position: absolute;
    right: 10px;
    bottom: 8px;
    display: none;
    padding: 4px 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sidebar__library-bot-heading-option i {
    font-size: 1.2rem;
}

.sidebar__library-bot-heading-option:hover {
    background-color: var(--active-color);
}


.sidebar__library-bot-extra,
.sidebar__library-bot-item {
    color: rgb(223, 221, 221);
}

.sidebar__library-bot-extra.sidebar__item {
    height: 30px;
}

.sidebar__library-bot-extra {
    position: relative;
}

.sidebar__library-bot-extra:hover .sidebar__library-bot-extra-option {
    display: block;
}

.sidebar__library-bot-extra-option {
    padding: 6px 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 0;
    display: none;
}

.sidebar__library-bot-extra-option i {
    font-size: 1.4rem;
    padding-right: 0;
}

.sidebar__library-bot-extra-option:hover {
    background-color: var(--active-color);
}


.sidebar__add-playlist {
    height: 54px;
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    bottom: var(--music-control-height );
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    display: flex;
    align-items: center;
    padding-left: var(--side-padding);
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.sidebar__add-playlist:hover {
    opacity: 0.8;
}

.sidebar__add-playlist span {
    padding-left: 10px;
}

/*=== END SIDEBAR ===*/




/*=== BEGIN CONTAINER ===*/

.main-container {
    position: absolute;
    top: 0;
    left: var(--sidebar-width);
    right: var(--next-song-width);
    height: calc(100vh - var(--music-control-height));
    overflow-y: auto;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: var(--next-song-width);
    z-index: 10;
}

.header {
    position: relative;
    height: var(--header-height);
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.header.header--active {
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    background-color: var(--header-color);
}

.header__undo {
    color: var(--white-color);
    font-size: 1.6rem;
    white-space: nowrap;
}

.header__undo i {
    padding: 11px 12px;
}

.header__undo .header__undo--disble {
    opacity: 0.3;
}

.header__width-search {
    width: var(--search-width);
    height: var(--search-height);
    background-color: hsla(0,0%,100%,0.1);
    display: flex;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 10px;
    position: relative;
}

.header__width-search-icon {
    color: var(--white-color);
    opacity: 0.8;
    font-size: 2rem;
    padding-left: 12px;
    margin-top: 2px;
    z-index: 1;
}

.header__width-search-input {
    font-size: 1.4rem;
    font-weight: 200;
    background-color: transparent;
    border: none;
    width: 90%;
    padding: 8px 0;
    outline: none;
    color: var(--white-color);
    opacity: 0.9;
    padding-left: 10px;
    z-index: 1;
}
.header__width-search-input:focus ~ .header__width-search-sub {
    display: block;
}

.header__width-search-input::placeholder {
    color: var(--white-color);
    opacity: 0.8;
}

.header__width-search-input.header__width-search-input--white::placeholder {
    color: #000;
    opacity: 0.8;
}

.header__width-search-input.header__width-search-input--dark::placeholder {
    color: #fff;
    opacity: 0.8;
}




.header__width-search-sub {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #6A39AF;
    padding-left: 18px;
    padding-right: 18px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
    display: none;
}

.header__width-search-sub::before {
    content: '';
    display: block;
    height: var(--search-height);
    width: 100%;
    background-color: #6A39AF;
    position: absolute;
    left: 0;
    top: -40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header__width-search-sub.header__width-search-sub--white::before {
    background-color: #FFFFFE;
}

.header__width-search-sub.header__width-search-sub--green::before {
    background-color: #1F3461;
}

.header__width-search-sub.header__width-search-sub--gray::before {
    background-color: #3E3E3E;
}

.header__width-search-sub.header__width-search-sub--purple::before {
    background-color: #6A39AF;
}






.header__width-search-sub-header {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 20px;
    display: block;
}

.header__width-search-sub-list {
    padding-left: 0;
    list-style: none;
}

.header__width-search-sub-item-link {
    display: flex;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header__width-search-sub-item-link:hover {
    background-color: rgba(255,255,255,0.05);
}

.header__width-search-sub-item-link i {
    color: var(--white-color);
    opacity: 0.8;
    font-size: 1.6rem;
}

.header__width-search-sub-item-link span {
    color: var(--white-color);
    padding-left: 14px;
    font-size: 1.3rem;
    font-weight: 400;
}

.header__right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__right-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.header__theme,
.header__upload,
.header__setting  {
    color: var(--white-color);
    font-size: 1.6rem;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    background-color: var(--active-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.header__setting:hover .header__setting-icon {
    color: rgb(207, 207, 207);
}

.header__setting-list {
    width: 240px;
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--sub-color);
    padding: 12px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.header__setting--active .header__setting-list {
    display: block;
}

.header__setting-line {
    background-color: var(--active-color);
    height: 1px;
    width: 100%;
    display: block;
    margin: 10px 0;
}

.header__setting-item {
    padding: 12px;
}

.header__setting-item:hover {
    background: var(--active-color);
}

.header__setting-item i {
    width: 20px;
    padding-right: 28px;
    padding-left: 10px;
}

/* theme modal */
.theme-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    color: var(--white-color);
    display: none;
}

.theme-modal.theme-modal--avtive {
    display: flex;
}

.theme-modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
}

.theme-modal__body {
    width: 900px;
    background-color: var(--sub-color);
    position: relative;
    border-radius: 5px;
    animation: scaleIn ease 0.5s;
    margin: auto;
    padding: 0 4px 32px 32px;
}

.theme-modal__close-btn {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 3rem;
    color: var(--white-color);
    cursor: pointer;
    padding: 6px 10px;
}

.theme-modal__close-btn:hover {
    color: var(--primary-color);
}

.theme-modal__body-headding {
    font-size: 2rem;
    font-weight: 600;
    padding: 28px 0 20px 0;
    margin: 0;
}

.theme-modal__body-group-wrapper {
    height: 590px;
    overflow-y: auto;
}

.theme-modal__body-group-headding {
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 4px;
    display: block;
}

.theme-modal__body-group-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.theme-modal__body-group-item {
    padding-right: 20px;
    cursor: pointer;
    position: relative;
}

.theme-modal__body-group-item-img-wrapper {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.theme-modal__body-group-item-img {
    width: 126px;
    height: 84px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: transform linear  0.4s;
}

.theme-modal__body-group-item-img-cntrl {
    width: 126px;
    height: 84px;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.theme-modal__body-group-item-img:hover ~ .theme-modal__body-group-item-img-cntrl-name2 {
    display: flex;
}

.theme-modal__body-group-item-img-cntrl-name1,
.theme-modal__body-group-item-img-cntrl-name2 {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    min-width: 80%;
    padding: 2px 0;
    margin: 6px 0;
    border-radius: 10px;
}

.theme-modal__body-group-item-img-cntrl-name1 {
    background-color: var(--primary-color);
    box-shadow: 0 0 2px #666;
}

.theme-modal__body-group-item-img-cntrl-name2 {
    border: 1px solid var(--white-color);
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.3);
}

.theme-modal__body-group-item-img:hover {
    filter: brightness(50%);
    transform: scale(115%);
}

.theme-modal__body-group-item-name {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 8px 0;
    display: block;
}











.header__upload {

}

.header__setting {

}

.header__user {
    margin-left: 10px;
}

.header__user-img {
    width: 38px;
    height: 38px;
    margin-top: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* container - panes */
.main-container-discover,
.main-container-zingchart {
    display: none;
}


.main-container-discover {
    margin: 100px 60px 60px 60px;
    color: #fff;
}

.container-discover__slider {
    display: flex;
    border-radius: 5px;
    position: relative;
    margin: -15px;
}

.container-discover__slider-item {
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .9s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding: 15px;
    width: 33.33%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.container-discover__slider-item-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}

.container-discover__slider-item-first {
    z-index: 1;
    opacity: 0;
    transform: translateX(100%);
}

.container-discover__slider-item-second {
    z-index: 2;
    opacity: 1;
    transform: translateX(0%);
}

.container-discover__slider-item-third {
    transform: translateX(100%);
    z-index: 5;
    opacity: 1;
}

.container-discover__slider-item-four {
    position: relative;
    transform: translateX(200%);
    z-index: 4;
    opacity: 1;
}

.container-discover__slider-left,
.container-discover__slider-right {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 12px 18px;
    display: none;
}

.container-discover__slider-left {
    left: 2%;
}

.container-discover__slider-right {
    right: 2%;
}

.container-discover__slider:hover .container-discover__slider-left,
.container-discover__slider:hover .container-discover__slider-right {
    display: block;
}


.container-discover__playlist {
    margin-top: 50px;
}

.main-container-zingchart {
    /* background-color: green; */
    margin-top: 90px;
    margin: 90px 80px 0 80px;
}

.zingchart__headding {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    padding: 20px 0;
    margin-bottom: 30px;
}

.zingchart__item-left-stt {
    color: rgba(74,144,226,0);
    font-size: 4rem;
    font-weight: 700;
    width: 50px;
    text-align: center;
    display: block;
    margin: 0 6px 0 8px;
    -webkit-text-stroke: 1.5px #fff;
}

.zingchart__item-first {
    -webkit-text-stroke: 1.5px #4a90e2;
}

.zingchart__item-second {
    -webkit-text-stroke: 1.5px #50e3c2;
}

.zingchart__item-third {
    -webkit-text-stroke: 1.5px #e35050;
}

.zingchart__item-left-line {
    color: rgba(255, 255, 255, 0.5);
    font-size: 4rem;
    margin-right: 8px;
}

.zingchart__100more {
    display: flex;
    justify-content: center;
    margin: 24px 0 80px 0;
}

.zingchart__100more-body {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 50px;
    width: 134px;
    height: 38px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.zingchart__100more span:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.zingchart-week__item-wrapper {
    border-radius: 16px;
    background-color: hsla(0,0%,100%,0.05);
    display: flex;
    flex-direction: column;
    padding: 22px 12px 22px 10px;
    margin-bottom: 40px;
}

.zingchart-week__headding {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    padding: 6px 0 0 20px;
}

.zingchart-week__item {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 5px;
}

.zingchart-week__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.zingchart-week__item-left {
    display: flex;
    align-items: center;
}

.zingchart-week__item-left-stt {
    width: 26px;
}

.zingchart-week__item-left-line {

}


.zingchart-week__item-center {
    display: flex;
    align-items: center;
    flex: 1;
}

.zingchart-week__item-center-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.zingchart-week__item-center-content {
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.zingchart-week__item-center-content-name {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.zingchart-week__item-center-content-singer {
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 5px;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.zingchart-week__item-right {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 10px;
}

.zingchart-week__100more {
    margin: 0;
}









/* profile */

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
    height: 130px;
}

.profile__img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.profile__name {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 700;
}

.profile__vip {
    position: absolute;
    top: 0;
    right: 30px;
    display: flex;
}

.profile__vip-upgrate,
.profile__vip-entercode {
    margin-left: 10px;
    width: 124px;
}

.profile__vip-upgrate {
    background-color: #DFD019;
    color: var(--black-color);
}

.profile__vip-entercode {
    color: var(--white-color);
    background-color: var(--active-color);
}

.profile__vip-more {
    font-size: 1.4rem;
    color: var(--white-color);
    background: var(--active-color);
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}


/* top-music */

    


.music__option {
    color: var(--white-color);
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.music__option-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    width: 500px;
    height: 32px;
    background-color: var(--active-color);
    border-radius: 16px;
}

.music__option-item {
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 124px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    cursor: pointer;
    text-align: center;
}

.music__option-item:hover {
    color: rgb(216, 214, 214);
}

.music__option-item:first-child {
    margin-left: 3px;
}

.music__option-item:last-child {
    margin-right: 3px;
}

.music__option-item.music__option-item--active {
    background-color: #816399;
}

.music__option-item i {
    font-size: 2rem;
}

/* pane option-all */

.panes-item {
    display: none;
}

.panes-item.active {
    display: block;
}


.option-all {
    color: var(--white-color);
    margin-left: 60px;
    margin-right: 60px;
}

.option-all__margin_bot {
    margin-bottom: 40px;
}

.option-all__song {

}

.option-all__song:hover .more-list {
    transform: translateX(0);
    opacity: 1;
}
.option-heading {
    display: flex;
}

.option-heading-name {
    font-size: 2rem;
    margin: 0 0 20px 0;
    padding: 0;
}

.option-all__song-heading-right {
    margin-left: auto;
    display: flex;
}

.option-all__song-heading-right-upload-btn {
    width: 104px;
    background-color: var(--active-color);
}

.option-all__song-heading-right-playall-btn {
    width: 138px;
    background-color: var(--primary-color);
}

.option-all__song-heading-right i {
    padding-right: 8px;
}

/* option-all__song-slider */

.option-all__song-slider {
    width: 270px;
    height: 244px;
    position: relative;
    margin-top: 6px;
}

.option-all__song-slider-img {
    border-radius: 5px;
    cursor: pointer;
    transition: transform .9s;
    transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.option-all__song-slider-img-first {
    width: 230px;
    height: 230px;
    position: absolute;
    right: 0;
    top: 7px;
    bottom: 7px;
    z-index: 3;
    opacity: 1;
}

.option-all__song-slider-img-second {
    width: 196px;
    height: 196px;
    position: absolute;
    right: 0px;
    top: 24px;
    bottom: 24px;
    z-index: 2;
    opacity: 0.7;
    transform: translateX(-57px);
}

.option-all__song-slider-img-third {
    width: 162px;
    height: 162px;
    z-index: 1;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 41px;
    bottom: 41px;
    transform: translateX(-110px);
}









/* option-all__songs */
.option-all__songs {
    margin-right: -24px;
}

.option-all__songs-list {
    height: 241px;
    overflow-y: auto;
}

.option-music-list {
    width: 100%;
    margin-left: 30px;
}

.songs-item-left-img {
    background-size: contain;
    display: flex;
}

.songs-item-left-img-playbtn {
    margin: auto;
    font-size: 1.6rem;
}

.songs-item-center span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* option-all__playlist */
.option-all__playlist {

}

.option-all__playlist:hover .more-list {
    transform: translateX(0);
    opacity: 1;
}

.option-all__playlist-heading {
    display: flex;
    justify-content: space-between;
}

.option-all__playlist-list {

}

.option-all__playlist-item0 {
    height: 100%;
    background: linear-gradient(33deg,#5a1eae -7%,#ce267a 117%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option-all__playlist-item0 i {
    font-size: 4rem;
}

.option-all__playlist-item0 span {
    padding-top: 10px;
    font-size: 1.4rem;
}

.option-all__playlist-item {
    cursor: pointer;
}

.option-all__playlist-item-img-wrapper {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background-color: #ccc;
}

.option-all__playlist-item-img-wrapper:hover .option-all__playlist-item-img-wrapper-action {
    display: flex;
}

.option-all__playlist-item-img-wrapper-action {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.option-all__playlist-item-img-wrapper-action-icon1,
.option-all__playlist-item-img-wrapper-action-icon3 {
    border-radius: 50%;
}

.option-all__playlist-item-img-wrapper-action-icon1 {
    padding: 3px 6px;
    font-size: 2.4rem;
}

.option-all__playlist-item-img-wrapper-action-icon1:hover,
.option-all__playlist-item-img-wrapper-action-icon3:hover {
    background-color: var(--active-color);
}

.option-all__playlist-item-img-wrapper-action-icon2 {
    font-size: 2rem;
    margin: 0 30px;
    padding: 9px 8px 8px 10px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.option-all__playlist-item-img-wrapper-action-icon2:hover {
    opacity: 0.8;
}

.option-all__playlist-item-img-wrapper-action-icon3 {
    padding: 4px 3px;
    font-size: 2.4rem;

}

.option-all__playlist-item-img {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    transform: scale(100%);
    /* transition: transform linear 0.2; */
    transition: transform .7s;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


.option-all__playlist-item-img-fix {
    background-size: cover;
}

.option-all__playlist-item-img-mv {
    padding-top: 57%;
    background-size: cover;
}



.option-all__playlist-item-img-wrapper-action:hover ~ .option-all__playlist-item-img {
    transform: scale(110%);
    filter: brightness(0.5);
}

.option-all__playlist-item-img-singer {
    padding-top: 100%;
    border-radius: 50%;
}

.option-all__playlist-item-img-wrapper.option-all__playlist-item-img-wrapper-mv {
    border-radius: 50%;
}

.option-all__playlist-item-content-mv {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.option-all__playlist-item-content-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.option-all__playlist-item-content-name {

}

.option-all__playlist-item-content-name1 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 0 2px 0;
}

.option-all__playlist-item-content-name1:hover {
    color: var(--primary-color);
}

.option-all__playlist-item-content-name2 {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--blur-color);
    cursor: default;
}

.option-all__playlist-item-content-singer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.option-all__playlist-item-content-singer-name1 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 0 2px 0;
}

.option-all__playlist-item-content-singer-name1:hover {
    color: var(--primary-color);
}

.option-all__playlist-item-content-singer-name2 {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--blur-color);
    cursor: default;
}

.option-all__playlist-item-content-singer-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 30px;
    background-color: var(--sidebar-bg);
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid var(--active-color);
    margin-top: 10px;
}

.option-all__playlist-item-content-singer-profile:hover {
    opacity: 0.8;
}

.option-all__playlist-item-content-singer-profile span {
    text-transform: uppercase;
    padding-left: 6px;
}

.option-all__playlist-item-content-singer-profile i {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-left: 6px;
}



.option-music,
.option-playlist,
.option-singer {
    color: #fff;
    margin: 0 60px;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast__item {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: rgb(236, 170, 95);
    font-size: 2rem;
    font-weight: 500;
    color: rgb(17, 129, 233);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 2px solid #fff;
    animation: slideInLeft ease .3s, fadeOut linear 1s 3s forwards;
    cursor: default;
}


/*=== END CONTAINER ===*/



/*=== BEGIN NEXT-SONG ===*/

.main-nextsong {
    width: var(--next-song-width);
    /* background-color: var(--sidebar-bg); */
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

}

.nextsong__option {
    height: 70px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    color: var(--white-color);
    /* background-color: green; */
}

.nextsong__option-wrapper {
    width: 230px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4B206E;
    margin-left: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 1.2rem;
}

.nextsong__option-wrapper-listplay,
.nextsong__option-wrapper-history {
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
    height: 28px;
    line-height: 30px;
    text-align: center;
    margin: 0 3px;
    cursor: pointer;
}

.nextsong__option-wrapper-listplay {
    width: 120px;
    padding: 0 4px;
}

.nextsong__option-wrapper-history {
    width: 110px;
    padding-right: 4px;
}

.nextsong__option-wrapper-listplay:hover,
.nextsong__option-wrapper-history:hover {
    color: rgba(255, 255, 255, 0.8);
}

.nextsong__option-wrapper-listplay.nextsong__option-wrapper--active,
.nextsong__option-wrapper-history.nextsong__option-wrapper--active {
    background-color: #816399;
}

.nextsong__option-alarm,
.nextsong__option-more {
    font-size: 1.6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.nextsong__option-alarm {
    background-color: var(--active-color);
    padding: 7px 9px;
    margin-left: 12px;
}

.nextsong__option-more {
    padding: 7px 8px;
    background-color: var(--active-color);
    margin-left: auto;
    margin-right: 6px;
}

.nextsong__option-alarm:hover,
.nextsong__option-more:hover {
    opacity: 0.8;
}

.nextsong__option-random {
    font-size: 1.4rem;
    line-height: 4rem;
    font-weight: 500;
    color: var(--blur-color);
    margin: 50px 50px;
    text-align: center;
}



.nextsong__fist-item-background--active.nextsong__fist-item {
    background-color: var(--primary-color);
}

.nextsong__fist-item.nextsong__fist-item-playbtn--active.nextsong__fist-item-background--active .nextsong__item-playbtn {
    display: flex;
}

.nextsong__fist-item.nextsong__fist-item-headding--active .nextsong__item-playbtn {
    display: none;
}

.nextsong__fist-item.nextsong__fist-item-headding--active .songs-item-left-img-playing-box{
    display: flex;
}

.nextsong__item {
    width: 313px;
    height: 56px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
}

.nextsong__last-item:hover {
    background-color: var(--active-color);
}

.nextsong__item:hover .nextsong__item-action{
    display: flex;
}

.nextsong__item:hover .nextsong__item-body-depsc,
.nextsong__item:hover .nextsong__item-body-heading {
    width: 190px;
}


.nextsong__item-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 8px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    cursor: pointer;
}

.nextsong__item-playbtn {
    font-size: 1.5rem;
    color: #fff;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: none;
}

.nextsong__fist-item.nextsong__item .nextsong__item-playbtn {
    display: none;
}

.nextsong__fist-item:hover.nextsong__item:not(.nextsong__fist-item-headding--active) .nextsong__item-playbtn {
    display: flex;
}

.nextsong__fist-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.nextsong__item-body {
    display: flex;
    flex-direction: column;
    /* width: 172px; */
    /* width: 80%; */
    cursor: default;
}

.nextsong__item-body-heading {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nextsong__item-body-depsc {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nextsong__item-action {
    width: 55px;
    font-size: 1.4rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    display: none;
}

.nextsong__item-action-heart,
.nextsong__item-action-dot {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nextsong__item-action-heart {
    margin-right: 4px;
    padding: 6px;
    color: var(--primary-color);
}

.nextsong__fist-item-background--active .nextsong__item-action-heart {
    color: var(--white-color);
}

.nextsong__last .nextsong__item-action-heart {
    color: var(--primary-color);
}

.nextsong__item-action-heart .nextsong__item-action-heart-icon2 {
    display: none;
}

.nextsong__item-action-heart--unheart .nextsong__item-action-heart-icon2 {
    display: block;
}

.nextsong__item-action-heart--unheart .nextsong__item-action-heart-icon1 {
    display: none;
}

.nextsong__item-action-dot {
    padding: 5px;
    color: var(--white-color);
}

.nextsong__item-action-heart:hover,
.nextsong__item-action-dot:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nextsong__box {
    /* height: calc(100vh - var(--music-control-height) - 70px -100px); */
    height: calc(100vh - var(--music-control-height) - 70px); 
    overflow-y: auto;
}

.nextsong__fist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nextsong__fist .nextsong__item-playbtn {
    display: flex;
}

.nextsong__last {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nextsong__last-list {
    margin: 0 0 0 4px;
    padding: 0;
    list-style: none;
    /* 168px là trừ khoảng height phía trên chữ tiếp theo  */
    /* height: calc(100vh - var(--music-control-height) - 168px);  */
}

.nextsong__last-item:hover .nextsong__item-playbtn {
    display: flex;
}

.nextsong__last-item-end {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 500;
    color: var(--blur-color);
    padding: 20px 0 50px 0;
    text-align: center;
}

.nextsong__last-heading {
    margin: 20px 0 6px 16px;
    padding: 0;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 500;
    width: 303px;

}













/*=== END NEXT-SONG ===*/





/* BEGIN MUSIC CONTROL */
.main-music-control {
    height: var(--music-control-height);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0; 
    background-image: url(../img/cntrl-player/playerThemes/theme1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
    z-index: 1;
    padding: 0 20px;
}

.music-control__left {
    position: relative;
    color: var(--white-color);   
    display: flex; 
    align-items: center;
    height: var(--music-control-height);
    transition: transform 0.5s;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.music-control__left-img-box {
    transition: transform 0.5s;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.music-control__left-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--white-color) ;
    background-size: contain;
    cursor: pointer;
}

.music-control__left-vetinh {
    
}

.img-note {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    
}
.vetinh-1 {

}

.vetinh-1 {

}

.vetinh-1 {

}

.vetinh-1 {

}




.music-control__left-content {
    margin-left: 12px;
    max-width: 250px;
    cursor: pointer;
}

.music-control__left-content-song {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.music-control__left-content-singer {
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 2px;
    color: rgba(255, 255, 255, 0.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.music-control__left-action {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.music-control__left-action-tym-non,
.music-control__left-action-tym,
.music-control__left-action-option {
    font-size: 1.6rem;
    border-radius: 50%;
    cursor: pointer;
    padding: 9px 9px;
}

.music-control__left-action-tym-non,
.music-control__left-action-tym {
    color: var(--primary-color);
}

.music-control__left-action-option {
    margin-left: 6px;
}

.music-control__left-action-tym-non:hover,
.music-control__left-action-tym:hover,
.music-control__left-action-option:hover {
    background-color: var(--active-color);
}

.music-control__left-action-tym-box .music-control__left-action-tym-non {
    display: none;
}

.music-control__left-action-tym-box-active .music-control__left-action-tym {
    display: none;
}

.music-control__left-action-tym-box-active .music-control__left-action-tym-non {
    display: block;
}


.music-control__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    height: var(--music-control-height);
}

.music-control__center-action {
    display: flex;
    align-items: center;
}

.music-control__icon {
    display: flex;
    align-items: center;
}

.music-control__icon i {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 8px;
    position: relative;
}

.music-control__icon1:hover,
.music-control__icon2:hover,
.music-control__icon4:hover,
.music-control__icon5:hover {
    background-color: var(--active-color);
}

.music-control__icon-play:hover .music-control__icon33,
.music-control__icon-play:hover .music-control__icon3 {
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
}

.music-control__icon1 {
    font-size: 1.6rem;
    padding: 8px;
}

.music-control__icon1.music-control__icon-random--active {
    color: var(--primary-color);
}

.music-control__icon2 {
    font-size: 2.6rem;
    padding: 3px 13px 3px 9px;
}

.music-control__icon-play.music-control__icon-play--active .music-control__icon3 {
    display: none;
}

.music-control__icon-play.music-control__icon-play--active .music-control__icon33 {
    display: block;
}


.music-control__icon3 {
    font-size: 1.4rem;
    padding: 10px 10px 10px 12px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.music-control__icon-play .music-control__icon33 {
    font-size: 1.4rem;
    padding: 10px 11px 10px 11px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: none;
}

.music-control__icon4 {
    font-size: 2.6rem;
    padding: 3px 10px 3px 12px;
}

.music-control__icon5 {
    font-size: 1.6rem;
    padding: 8px;
}

.music-control__icon5.music-control__icon-repeat--active {
    color: var(--primary-color) !important
}


.music-control__progress {
    display: flex;
    width: 80%;
    align-items: center;
    margin-top: 9px;
    position: relative;
}

.mobile-player__ctrl-progress {
    margin-top: 30px;
}

.music-control__progress-time-start,
.music-control__progress-time-duration {
    white-space: nowrap;
    font-size: 1.3rem;
    
}

.music-control__progress-time-start {
    color: var(--white-color);
}

.music-control__progress-time-duration {
    color: var(--white-color);
}

.music-control__volume-input,
.music-control__progress-input {
    width: 100%;
    margin: 0 10px;
    -webkit-appearance: none;
    height: 3px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 10px;
    cursor: pointer;
}

.music-control__volume-input:hover,
.music-control__progress-input:hover {
    height: 5px;
}


.music-control__volume-input::-webkit-slider-thumb,
.music-control__progress-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    appearance: none;
    background: var(--white-color);
    border-radius: 8px;
    border: 1px solid #777;
    /* display: none; */
}

/* .music-control__progress-input:hover::-webkit-slider-thumb {
    display: block;
} */

/* .music-control__progress-update {
    width: 100%; 
    position: absolute;
    left: 42px;
    bottom: 7px;
    border-radius: 10px;
    display: none;
} */

/* .music-control__progress-update-timeline {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--white-color);
    position: absolute;
    left: 0px;
    bottom: 0px;
} */








.music-control__right {
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--white-color);
    height: var(--music-control-height);
    margin-right: 12px;
}

.music-control__right-volume-icon.music-control__right--active .music-control__right-icon4 {
    display: none;
}

.music-control__right-volume-icon.music-control__right--active .music-control__right-icon5 {
    display: block;
}

.music-control__right i {
    cursor: pointer;
    border-radius: 50%;
}

.music-control__right i:hover {
    background-color: var(--active-color);

}

.music-control__right-icon1 {
    font-size: 1.4rem;
    margin-right: 2px;
    padding: 9px 8px 9px 8px;
    color: var(--blur-color);
}

.music-control__right-icon2 {
    font-size: 1.4rem;
    margin-right: 2px;
    padding: 9px 12px 9px 12px;

}

.music-control__right-icon3 {
    font-size: 1.4rem;
    margin-right: 2px;
    padding: 9px 10px 9px 10px;

}

.music-control__right-icon4,
.music-control__right-icon5 {
    font-size: 2rem;
    margin-right: -9px;
    
}

.music-control__right-icon4 {
    padding: 6px 9px 6px 9px;
    
}

.music-control__right .music-control__right-icon5 {
    padding: 6px 6px 6px 7px;
    display: none;
}



.music-control__volume-progress {
    display: flex;
    align-items: center;
    width: 70px;
    cursor: pointer;
    margin-top: -2px;
}

.music-control__volume-input {
    width: 70px;
}

/* END MUSIC CONTROL */

.mobile-tab {
    height: 60px;
    background-color: #37075D;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);

}

.mobile-tab__list {
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}
.mobile-tab__item {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mobile-tab__item.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.mobile-tab__item i {
    font-size: 1.6rem;
}

/* MOBILE PLAYER */
.mobile-player {
    background-color: var(--header-color-0);
    position: fixed;
    top: 100vh;
    height: 100vh;
    /* bottom: 0; */
    left: 0;
    right: 0;
    z-index: 10;
    transition: transform ease-in 0.3s;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.mobile-player.active {
    transform: translateY(-100vh);
}

.mobile-player__headding {
    height: 50px;
    /* background-color: #ccc; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}

.mobile-player__headding-img {
    padding: 2px;
    margin-left: 4px;
}

.mobile-player__headding-option {
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    background-color: #ffffff1a;
    height: 44px;
    border-radius: 40px;
}

.mobile-player__headding-option-item {
    height: 38px;
    line-height: 38px;
    border-radius: 50px;
    padding: 0 24px;
    white-space: nowrap;
}

.mobile-player__headding-option-item:first-child {
    background-color: rgba(255, 255, 255, 0.3);
}

.mobile-player__headding-close {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 2rem;
    color: #fff;
    border-radius: 50%;
    padding: 10px 15px;
    margin-right: 10px;
}

.mobile-player__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 66vh;
}

.mobile-player__body-thumb {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-size: contain;
    margin-top: 70px;
}

.mobile-player__body-now {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-player__body-now-name {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    padding: 6px 0;
}

.mobile-player__body-now-extra ,
.mobile-player__body-now-singer {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 6px 0;
}

.mobile-player__ctrl {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mobile-player__ctrl-progress {
    width: 90%;
}

.mobile-player__ctrl-icon {
    margin: 0 16px;
}

