/* MOBILE & TABLET: width <= 1023px */
@media only screen and (max-width: 63.9375em) {
    .mobile-tablet-hiden {
        display: none;
    }
}

/* TABLET: width >= 740px and width <= 1023px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .tablet-hiden {
        display: none;
    }
}

/* MOBILE: width <= 739px */
@media only screen and (max-width: 46.1875em) {
    .mobile-hiden {
        display: none;
    }
}